.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input {
    display: block;
    width: 100%;
    margin-bottom: 0.25rem;
}

.form-control input {
    border: 1px solid #c2a7ff;
    font: inherit;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.form-control input:focus {
    outline-color: #777aaa;
}

/*button {*/
    /*border: 1px solid #bd42ff;*/
    /*font: inherit;*/
    /*background: white;*/
    /*color: #bd42ff;*/
    /*-webkit-border-radius: 3px;*/
    /*-moz-border-radius: 3px;*/
    /*border-radius: 3px;*/
    /*cursor: pointer;*/
/*}*/

/*button:hover,*/
/*button:active {*/
    /*background-color: purple;*/
    /*color: white;*/
/*}*/